.BoxHomeTool {
  background-image: url("../../../../img/HomeTool/dropdown-icon.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
/* Set height for List and make it scrolable */
.selectBoxList {
  max-height: 300px;
  overflow: auto;
}
/* Customize the Scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
