.PhongVe_Header {
  width: 100%;
  height: 80px;
  /* background-color: lightslategray; */
  background: #fff;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}
.PhongVe_Header_Info {
  width: 75%;
  height: 100%;
  /* background-color: moccasin; */
}
.PhongVe_Header_Detail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.PhongVe_Header_Detail_DatVe {
  display: flex;
  align-items: center;
  height: 100%;
}
.PhongVe_Header_Detail_DatVe_Mobile {
  display: none;
  height: 100%;
  align-items: center;
}
.PhongVe_Header_Detail_UserInfo {
  align-items: center;
  cursor: pointer;
  padding: 0 1%;
}
.PhongVe_Header_Detail_UserInfo span {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42857143;
  letter-spacing: normal;
}
.PhongVe_Header_Detail_DatVe > p {
  margin: 0 30px;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: normal;
}
.PhongVe_UserLogo {
  margin-right: 5px;
}
.PhongVe_UserLogo img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.PhongVe_SideBar {
  width: 25%;
  height: 100vh;
  background-color: olivedrab;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  transition: all 0.3s ease;
}
.PhongVe_SideBar_Info {
  padding: 0 5%;
}
.PhongVe_SideBar_Btn {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.PhongVe_SideBar_Btn button {
  background-image: none;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  cursor: default;
  outline: none;
}
.PhongVe_SideBar_Btn button span {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.42857143;
  letter-spacing: normal;
  text-transform: none;
}
.SideBar_Infor_TotalPrice {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
}
.SideBar_Infor_TotalPrice > p {
  text-align: center;
  color: #44c020;
  width: 100%;
  margin: 0;
  font-size: 34px;
  text-align: center;
  font-weight: 400;
  line-height: 1.42857143;
  letter-spacing: normal;
}
.SideBar_Infor_RapChieu {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.SideBar_Infor_RapChieu P {
  margin-bottom: 0;
}
.PhongVe_SideBar_Info .SideBar_Infor {
  border-bottom: 1px solid #e9e9e9;
}
.SideBar_Infor_Ghe {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.SideBar_Infor_Ghe span:nth-child(2) {
  color: #44c020;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
}
.SideBar_Infor_Ghe span:nth-child(1) {
  color: #fb4226;
  width: 60%;
  font-size: 14px;
  font-weight: 600;
}
.SideBar_Infor_Combo {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.SideBar_Infor_Combo span:nth-child(2) {
  color: #44c020;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
}
.SideBar_Infor_Combo span:nth-child(1) {
  color: rgba(0, 0, 0, 0.677);
  width: 60%;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  cursor: pointer;
}

.SideBar_Infor_Combo span:nth-child(1) img {
  width: 17px;
  height: 22px;
  margin-right: 9px;
}

/* Xử lý ô input cho các form */
.SideBar_Infor_Form {
  padding: 10px 0;
  /* height: 60px; */
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.SideBar_Infor_Form input {
  width: 100%;
  outline: none;
  height: 100%;
  padding-top: 15px;
  padding-left: 2px;
  color: #9b9b9b;
}
.SideBar_Infor_Form input::placeholder {
  opacity: 0;
}
.SideBar_Infor_Form input:focus::placeholder {
  opacity: 1;
  font-size: 12px;
}
.SideBar_Infor_Form label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #fb4226; */
  /* pointer-events:none; là giúp cho label không có sự kiện click nữa, mà sẽ đi xuyên qua và click vào thẻ input bên trong */
  pointer-events: none;
}
/* Tạo ra bottom-line bên dưới */
.SideBar_Infor_Form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #fb4226;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
  color: #9b9b9b;
}
/* Phải đặt thẻ input trước thẻ label vì khi sử dụng selector, ta focus or valid thẻ input thì mới + được thẻ label nằm bên dưới thẻ input. chứ nó ko thể cộng ngược lên trên đc. */
.SideBar_Infor_Form input:focus + .label-name .content-name,
.SideBar_Infor_Form input:valid + .label-name .content-name {
  transform: translateY(-120%);
  font-size: 12px;
  color: #fb4226;
  font-weight: 600;
}
/* Dịch chuyển bottom-line màu đỏ chạy về lại khi focus or valid */
.SideBar_Infor_Form input:focus + .label-name::after,
.SideBar_Infor_Form input:valid + .label-name::after {
  transform: translateX(0%);
}
.form-maGiamGia button {
  width: 40%;
  position: absolute;
  right: 0;
  padding: 5px;

  color: white;
  border-radius: 4px;
  outline: none;
}

/* Style cho Payment Option */
.Payment_Option_Wrapper .payment_option {
  position: relative;
}
.Payment_Option_Wrapper .payment_option,
.radio-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.payment_option .radio-info {
  font-size: 13px;
  font-weight: 400;
}
.Payment_Option_Wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 5%;
}
.Payment_Option_Wrapper .radio-info-container img {
  max-width: 40px;
  height: 40px;
  width: auto;
  margin-right: 15px;
  border-radius: 10%;
  border: 1px solid rgba(0, 0, 0, 0);
}
.Payment_Option_Wrapper .radio-info-container p,
.Payment_Option_Wrapper .radio-info-container p > span {
  line-height: 1.4;
}
/* Customize the Radio Button */

/* 1. Hide The Browser Radio Button */
.radio-icon input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* 2. Create our own Radio Button from Span ClassName CheckMark */
.radio-icon span {
  position: absolute;
  top: 10px;
  left: -10px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
/* 3. Set Hover effect -add bg-color white */
.payment_option:hover .radio-icon input ~ .checkMark {
  background-color: #ccc;
}
/* 4. Set Check effect add bg- blue */
.payment_option .radio-icon input:checked ~ .checkMark {
  background-color: #2196f3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.payment_option input:checked ~ .checkMark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.payment_option .checkMark:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transform: translate(-50%, -50%);
}

.SideBar_Infor_Notification {
  border: none !important;
  position: absolute;
  bottom: 60px;
}
.SideBar_Infor_Payment {
  border: none !important;
}

/* ################CSS PhongVe_Content */
.PhongVe_Content {
  position: relative;

  width: 75%;
}
.PhongVe_Content_Container {
  width: 100%;

  display: flex;
}
.PhongVe_ExitWay {
  width: 7%;

  background: rgba(0, 0, 0, 0.7);
}
.PhongVe_Content_Container .PhongVe_DayGhe {
  width: 93%;
  height: 100%;
  padding-top: 30px;
}
.PhongVe_DayGhe .PhongVe_DayGhe_Content {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.PhongVe_DayGhe_RapInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.PhongVe_DayGhe_RapInfo .RapInfo_Rap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.PhongVe_DayGhe_RapInfo .RapInfo_Rap img {
  width: 50px;
}
.PhongVe_DayGhe_RapInfo .RapInfo_Rap .RapInfo_Rap_Detail p {
  margin-bottom: 0 !important;
}
.PhongVe_DayGhe_Ghe {
  width: 550px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.PhongVe_DayGhe_Ghe .DayGhe_Container {
  width: 100%;
  justify-content: center;
  text-align: center;
}
.PhongVe_DayGhe_Ghe .DayGhe_Container .gheBTN {
  border-radius: 5%;
  outline: none;
  color: white;
  font-weight: 600;
  width: 100%;
  padding: 3px;
}
/* Add the :horizontal scroll-bar for div when shrinking */
.PhongVe_DayGhe_GheInfo {
  overflow-y: hidden;
  overflow-x: auto;
}
.PhongVe_DayGhe_GheInfo img {
  width: 100%;
}
.PhongVe_DayGhe_GheInfo .GheInfo_soGhe {
  position: absolute;
  top: -2px;
  left: 15px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0);
  font-family: emoji;
}
.DayGhe_Container .DayGhe_Ghe .gheBTN .isChosing span {
  color: white;
}
/* Mobile Screen */

@media only screen and (max-width: 768px) {
  .PhongVe_SideBar {
    transform: translateX(100%);
  }
  .PhongVe_Content {
    width: 100%;
  }
  .PhongVe_Header_Detail_DatVe {
    display: none;
  }
  .PhongVe_Header_Detail_DatVe_Mobile {
    display: block;
  }
}
/* Styling Div Thông Tin Loại Ghế */
.PhongVe_DayGhe_LoaiGhe {
  text-align: center;
}
.PhongVe_DayGhe_LoaiGhe .LoaiGhe_Wrapper {
  max-width: 550px;
  margin: 0 auto;
  gap: 2px;
  border-top: 1px dotted rgba(0, 0, 0, 0.212);
  padding-top: 10px;
}
.PhongVe_DayGhe_LoaiGhe .LoaiGhe_Wrapper .DayGhe_Ghe p {
  color: rgba(128, 128, 128, 0.7);
}
