/* .userInfoLayout_Body {
  height: 100vh;
} */
.adminLayout_Body .ant-tabs .ant-tabs {
  height: 100%;
}
.adminLayout_Body .ant-tabs-tab {
  padding: 30px 16px !important;
}
.adminLayout_Body .ant-tabs-tab .admininfo__menu {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.7;
}

.adminLayout_Body .ant-tabs-tab-active .admininfo__menu {
  color: rgb(220, 38, 38);
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .adminLayout_Body .ant-tabs {
    flex-direction: column;
  }
  .adminLayout_Body .ant-tabs .ant-tabs-nav .ant-tabs-nav-list {
    flex-direction: row;
    justify-content: center;
  }
  .adminLayout_Body .ant-tabs-content-holder .ant-tabs-tabpane .userName {
    flex-direction: column;
    text-align: center;
  }
  .adminLayout_Body .ant-tabs-tab {
    padding: 15px 16px !important;
  }
  .adminLayout_Body .ant-tabs-content-holder .ant-tabs-content {
    max-width: 100% !important;
  }
  .adminLayout_Body .ant-tabs-nav-list {
    width: 100%;
  }
  .adminLayout_Body .ant-tabs-nav-list .ant-tabs-tab {
    width: 50%;
    justify-content: center;
  }
  .ThongTinUser_Table {
    overflow-y: auto;
    max-width: 100% !important;

    max-height: 80vh;
  }
  #rc-tabs-0-panel-2 {
    padding-left: 0;
  }
}
.adminLayout_Body .ant-tabs-content-holder .ant-tabs-tabpane .adminName {
  align-items: center;
}
.adminLayout_Body
  .ant-tabs-content-holder
  .ant-tabs-tabpane
  .userName
  .user__icon {
  margin-right: 2%;
}

#ThongTinUser_Table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  position: relative;
}
#ThongTinUser_Table td,
#ThongTinUser_Table th {
  /* border: 1px solid #ddd; */
  /* padding: 2px; */

  font-weight: 500;
}
#ThongTinUser_Table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#ThongTinUser_Table tr {
  border-bottom: 1px solid #ddd;
}
#ThongTinUser_Table tr:hover {
  background-color: rgba(235, 84, 84, 0.334);
}
#ThongTinUser_Table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: rgb(235, 84, 84);
  color: white;
  font-size: 1rem;
  position: sticky;
  top: 0;
}
.adminLayout_Body nav ul {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.adminLayout_Body nav ul li {
  margin: 5px 0px;
  border: 1px solid white;
}
